.sidebar-nav {
 
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
 
}

.sidebar-nav .metismenu {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
}

.sidebar-nav .metismenu li + li {
  margin-top: 5px;
}

.sidebar-nav .metismenu li:first-child {
  margin-top: 5px;

  
}
.sidebar-nav .metismenu li:last-child {
  margin-bottom: 5px;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 16px 36px;
    color: rgba(255,255,255,.8);
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: .88rem;
}

.sidebar-nav .metismenu ul a {
    padding: 2px 38px 3px 60px;
    color: white;
    font-size: .86rem;
    border-radius: .35rem!important;
    /* background-color: #4e73df!important; */
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
    color: #8cbcec;
    text-decoration: none;
    /* background: #4e73df; */
}
